body{
    background-color: black;
    color: white;

    display:grid;
    grid-template-rows: auto 2fr 1fr;
    grid-template-areas: 'navBar' 'main' 'footer';
}
main{
    grid-area: main;
    text-align: center;
}