
/*Layout*/
body {
    background-color: black;
    color: white;

    display: grid;
    row-gap: 1vw;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 15vw auto 1fr;
    grid-template-areas:
            "navBar navBar"
            "banner header"
            "banner main"
            "footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    background-color: #343a40;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "sorting_buttons" "plastic_area";
}

#sorting_mechanism {
    grid-area: sorting_buttons;
}
#plastic_container {
    grid-area: plastic_area;
}


/*Banners*/
#Banner {
    grid-area: banner;
    align-self: center;
    text-align: center;
}

.selection_banner {
    margin-right: 1vw;
}