
/*Layout*/
body {
    background-color: black;
    color: white;

    display: grid;
    row-gap: 1vw;
    column-gap: 0;
    grid-template-columns: 2fr 4fr 4fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas:
            "navBar navBar navBar"
            "header header header"
            "main main main"
            "footer footer footer";
}

header {
    grid-area: header;
    text-align: center;
}
#cupsMainBanner{
    width: 100%;
}


main {
    grid-area: main;
    background-color: #212529;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
            "sorting_buttons"
            "plastic_area";
}

.cupSiteChangeButton{
    background-color: black;
    border: 0 solid black
}
.cupSiteChangeButtonImg:hover{
    opacity: 80%;
}

#sorting_mechanism {
    grid-area: sorting_buttons;
    text-align: center;
}

#plastic_container {
    background-color: #212529;
    grid-area: plastic_area;


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

/*Card Design*/
.cup-card {
    border: 2px solid #5a189a;
    color: white;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 1em;
    max-width: 300px;
    background-color: #343a40;
}
.cup-preview {
    width: 100%;
}