
/*---Grid Layout---*/

body {
    background-color: black;
    color: white;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 45vw auto 1fr 1fr;
    grid-template-areas:
            "navBar"
            "header"
            "main_title"
            "main"
            "footer";
}


/*Heading*/

header {
    background-color: #212529;
    grid-area: header;
    font-family: sans-serif, 'Inter Semi Bold';

    align-content: center;
    align-items: center;
    text-align: center;
}

#title {
    background-color: blue;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 400px;
    margin: auto;
}



/*Category Bar*/
#main_title {
    grid-area: main_title;
    background-color: #343a40;

    align-items: center;
    align-content: center;
    text-align: center;

    font-size: 250%;
}

main {
    background-color: #343a40;
    grid-area: main;

    align-content: center;
    align-items: center;
    text-align: center;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    column-gap: 30px;

    overflow-x: auto;
    overscroll-behavior: contain;
}

.Banner {
    background-color: black;
    width: 354px;
    height: 604px;
    align-content: center;
    align-items: center;
    text-align: center;
}
