
/*Grid Layout*/

body {
    background-color: black;
    color: white;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 47vw auto 35vw 1fr;
    grid-template-areas:
            "navBar"
            "header"
            "main_title"
            "main"
            "footer";
}


/*Heading*/

header {
    background-color: #000000;
    grid-area: header;
    font-family: sans-serif, 'Inter Semi Bold';

    align-content: center;
    align-items: center;
    text-align: center;
}

#title {
    background-color: rebeccapurple;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 25vw;
    height: 25vw;
    margin: auto;
}



/*Category Bar*/
#main_title {
    grid-area: main_title;
    background-color: #020204;
    font-family: sans-serif, 'Inter Semi Bold';

    align-items: center;
    align-content: center;
    text-align: center;

    font-size: 250%;
}

main {
    background-image: linear-gradient(black, black, #252525);
    grid-area: main;

    align-content: center;
    align-items: center;
    text-align: center;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    column-gap: 30px;

    overflow-x: auto;
    overscroll-behavior: contain;
}

.Banner {
    width: 354px;
    height: 604px;
    align-content: center;
    align-items: center;
    text-align: center;
}
.Banner_Animation {
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}
.Banner_Animation:hover {
    box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.7)
}
