/*Navigation Bar*/

nav {
    background-color: #7b2cbf;
    font-family: sans-serif, 'Inter Semi Bold';
    grid-area: navBar;
    position:sticky;
    top:0;

    align-content: center;
    align-items: center;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-template-areas:"logo cups consumables merch vcards partners searchBar";
}

#1 {
    grid-area: logo;
}
#2 {
    grid-area: cups;
}
#3 {
    grid-area: consumables;
}
#4 {
    grid-area: merch;
}
#5 {
    grid-area: vcards;
}
#6 {
    grid-area: partners;
}
#7 {
    grid-area: searchBar;
}


/*Footer*/

footer {
    background-color: rebeccapurple;
    grid-area: footer;
    font-family: sans-serif, 'Inter Semi Bold';

    display: grid;
    grid-template-columns: 1fr 1fr 3fr 3fr 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
            "news_letter_sign news_letter_sign news_letter_sign expl_text expl_text expl_text"
            "write_us_mail write_us_mail write_us_mail expl_text expl_text expl_text"
            "our_partners our_partners our_partners expl_text expl_text expl_text"
            "fleft . sleft sright . fright";
}
#news_letter_signup {
    grid-area: news_letter_sign;
    align-content: center;
    align-items: center;
    margin-left: 4vw;
}
#write_mail_form {
    grid-area: write_us_mail;
    align-content: center;
    align-items: center;
    margin-left: 4vw;
}
#explanation_text {
    grid-area: expl_text;
    align-content: center;
    margin-right: 1vw;
}
#archive_partners {
    grid-area: our_partners;
    align-content: center;
    align-items: center;
    margin-left: 4vw;
}


#fleft {
    grid-area: fleft;

    align-content: center;
    align-items: center;
    text-align: center;
}
#fright {
    grid-area: fright;

    align-content: center;
    align-items: center;
    text-align: center;
}


/*Social Buttons*/

#sleft {
    grid-area: sleft;

    align-content: center;
    align-items: center;
    text-align: center;
    margin: auto;

    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
            ". OurS OurS ."
            "OurSa OurSb OurSc OurSd";
}
#s1 {
    grid-area: OurS;
}
#sA {
    grid-area: OurSa;
}
#sB {
    grid-area: OurSb;
}
#sC {
    grid-area: OurSc;
}
#sD {
    grid-area: OurSd;
}

#sright {
    grid-area: sright;

    align-content: center;
    align-items: center;
    text-align: center;
    margin: auto;

    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
            "GGS GGS GGS"
            "OurSga OurSgb OurSgc";
}
#s2 {
    grid-area: GGS;
}
#sgA {
    grid-area: OurSga;
    overflow: hidden;
}
#sgB {
    grid-area: OurSgb;
    overflow: hidden;
}
#sgC {
    grid-area: OurSgc;
    overflow: hidden;
}
#cat {
    background-color: lawngreen;
    grid-area: categories;

    align-content: center;
    align-items: center;
    text-align: center;
}

.Social_Button {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 100%;
    grid-area: SButton;
    margin: 2px;

    align-content: center;
    align-items: center;
    text-align: center;
}