body {
    background-color: black;
    display:grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
            "navBar"
            "header"
            "cards"
            "footer";
}
header {
    grid-area: header;
    background-color: red;
}

#partner-container {
    grid-area: cards;
    background-color: gold;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

/*Card Design*/
.partner-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 1em;
    max-width: 300px;
    background-color: palevioletred;
}
.partner-avatar {
    width: 100px;
    border-radius: 50%;
    background-color: greenyellow;
}
