body{
    background-color: #212529;
    color: white;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr auto 1fr;
    grid-template-areas:
            'navBar navBar'
            'avatar creatorExtInfo'
            'creatorProducts creatorProducts'
            'footer footer';
}
#creatorAvatarContainer{
    grid-area: avatar;
    padding-top: 1vw;
    text-align: center;
}
#creatorContainer{
    grid-area: creatorExtInfo;
    padding-top: 1vw;
    padding-left: 2vw;
}
#creatorProductArea{
    grid-area: creatorProducts;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}
.partnerItem {
    border: 2px solid #5a189a;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 1em;
    max-width: 300px;
    background-color: #343a40;
}
.partnerItemPreview {
    width: 100%;
}

.creator-avatar-large{
    border: 3px rebeccapurple solid;
}