body {
    background-color: #020204;
    color: white;

    display: grid;
    grid-template-columns: auto 2fr 1fr;
    grid-template-areas: 'navBar' 'main' 'footer';
}
main {
    grid-area: main;
    padding: 1vw;
}